.navbar-bg {
    background-color: #ff4d6d;
}

@media (max-width: 1024px) {
    .main-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 60px;
    }
}

.author-box .author-box-name {
    font-size: 34px;
}

.author-box .author-box-picture {
    width: 294px;
}